body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
      }


a {
    text-decoration: none;
}

/* Header */

.page-start {
    padding: 10px 0 ;
       }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0 auto; 
  max-width: 1200px;
  padding: 0 20px;
}


    
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    
}

.logo-studio {
    color: #2e2f42;
}

.head-menu{
    display: flex;
    align-items: left;
    gap: 40px;
   

}


.head-menu-list {
   
    text-decoration: none;
    list-style-type: none;
       }

.head-menu-list>a {
font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.head-menu-list>a:hover, .head-menu-list:focus {
    color: #404bbf;
}

.head-menu-list>a:active {
    color: #404bbf;
    text-decoration: underline;
}

.head-contact {
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    }

.contact-list {
        font-style: normal;
        text-decoration: none;
        
        }

.contact-list>a {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;

}

.contact-list>a:hover {
    color: #404bbf;
}



/* Header Bitti */


/* Slider Area*/
.slider-area {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
   
    
}

.slider-text {
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
}

.slider-button {
    color: white;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    border-radius: 4px;
    border: none;
}

.slider-button:hover {
    background-color: #404bbf;
}
/* Slider Area Bitti*/


/*Section 1*/

.first-paragraph {
    padding: 120px 0;
    margin: 0 156px;

}


.first-paragraph-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 156px;
    gap: 24px;
    }

.first-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }

.first-paragraph-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
/*section 1 bitti*/





/*team area*/

.team-area {
    background-color: #f4f4fd;     
    height: 732px;
                }

        .team-area .title {
            font-weight: 700;
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 72px;
        }
        
.team-area-container {
        
    
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
   }

.team-area-list {
    list-style-type: none;
    display: flex;
       justify-content: space-between;
       gap: 24px; ;
    line-height: 1.5;
   
}


.team-list-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding: 0;
}

.team-list-job {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        }


.team-list {
    background-color: #fff;
    border-radius:0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

/*team area bitti*/






/*Portfolio Area*/


.portfolio-area {
        margin: 0 156px;
        padding: 120px 0;
                                }

.portfolio-area .container {
    margin: 0 auto;
    
        }

.portfolio-area .title {
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    
}


.portfolio-area-list{
    list-style-type: none;
    display: flex;
        flex-wrap: wrap;
        flex: 1 1 calc(33.333% - 10px)/3;
        padding: 20px;
        gap: 24px;
        margin: 0 156px;
        justify-content: center;
        
}

.portfolio-list-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 0 16px;
        
}

.portfolio-list-job {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 0 16px;
}

.portfolio-list {
    background-color: #fff;
    border: 1px solid #e7e9fc;
    
    }



/*portfolio area bitti*/





/* Footer */

.page-finish {
    background-color: #2e2f42;
    height: 312px;
    display: flex;
    align-items: center;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
       
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    
}

.footer-logo-studio {
    color: #f4f4fd;
}

.page-finish .container{
    margin: 0 450px;
        
}

/* Footer Bitti */

